.gato{
    width: 200px;
    height: 50px;
    background-color: #DE6EBE;
    text-align: center;
    color: white;
    margin: 10px;   
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

