.menu{
    display: flex;
    margin-right: 50px;
}
.link{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin: 20px;
    padding-top: 15px;
    a{
        color: black;
    }
}
.logo{
    margin: 20px  0 0 50px;

}